/* Variáveis Globais */
:root {
    --primary-color: #EF7A26;
    /* Cor principal */
    --secondary-color: #D9D9D9;
    /* Cor secundária */
    --dark-bg: #1F1F1F;
    /* Fundo dos inputs */
    --input-border: #5F5F5F;
    /* Borda dos inputs */
    --input-focus: #EF7A26;
    /* Cor de foco dos inputs */
    --btn-hover-color: #e65f00;
    /* Cor do hover do botão */
    --font-main: 'SpaceGrotesk', sans-serif;
    /* Fonte principal */
    --border-radius: 12px;
    /* Bordas arredondadas padrão */
    --transition-speed: 0.3s;
    /* Velocidade padrão para transições */
}

/* Fontes */
@font-face {
    font-family: 'SpaceGrotesk';
    src: url('./../assets/fonts/SpaceGrotesk.ttf');
}

/* Estilos Globais */
body {
    font-family: var(--font-main);
    min-height: 100vh;
    height: 100%;
}

/* Estilos da Tela de Login */
#login {
    background: url('./../assets/images/background-login.webp') no-repeat center center/cover;

    .login-card {
        position: relative;
        background: rgba(20, 20, 20, 0.8);
        border-radius: var(--border-radius);
        color: var(--secondary-color);
        max-width: 400px;
        width: 100%;
        padding: 30px;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius);
            padding: 1px;
            background: linear-gradient(180deg, #242424 0%, #666666 100%);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            z-index: -1;
        }

        h2 {
            font-size: 20px;
            font-weight: 300;
            color: var(--secondary-color);
        }

        img {
            width: 83px;
            height: 45.79px;
        }

        label {
            font-size: 12px;
            font-weight: 300;
            color: var(--secondary-color);
        }

        input {
            background: var(--dark-bg);
            border: 1px solid var(--input-border);
            border-radius: 6px;
            font-size: 10px;
            font-weight: 300;
            color: var(--input-border);
            transition: all var(--transition-speed) ease;

            &:focus {
                background: #fff;
                border: 1px solid var(--input-focus);
                color: #141414;
                font-weight: 400;
                box-shadow: 0 0 0 1px var(--input-focus);
            }
        }

        .btn-primary {
            background-color: var(--primary-color);
            border-color: var(--primary-color);
            color: #141414;
            font-size: 14px;
            font-weight: 600;

            &:hover {
                background-color: var(--btn-hover-color);
                border-color: var(--btn-hover-color);
            }
        }
    }
}

#verificacao {
    background: url('./../assets/images/background-verification.webp') no-repeat center center/cover;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background: rgba(0, 0, 0, 0.3);

        // border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        .status {
            // display: flex;
            align-items: center;
            font-size: 8px;
            font-weight: 300;
            text-align: left;
            color: var(--status-color);

            .status-adjust {
                align-items: center;
                justify-content: flex-start;
            }

            .status-active {
                font-size: 12px;
                color: #FFFFFF;
                font-weight: 400;
                // margin-left: 5px;
            }

            .status-indicator {
                width: 5px;
                height: 5px;
                background-color: var(--primary-color);
                border-radius: 50%;
                margin-left: 5px;
            }
        }

        .logo {
            display: flex;
            transform: translateX(-20%);
            flex-direction: column;
            align-items: center;

            img {
                width: 80px;
                /* Ajuste conforme necessário */
            }

            small {
                font-size: 10px;
                color: var(--secondary-color);
                margin-top: -5px;
            }
        }

        .logout button {
            background: transparent;
            border: none;

            img {
                filter: brightness(0.8);
                transition: filter 0.3s;

                &:hover {
                    filter: brightness(1);
                }
            }
        }
    }

    .verification-card {
        position: relative;
        background: rgba(20, 20, 20, 0.8);
        border-radius: var(--border-radius);
        color: var(--secondary-color);
        max-width: 400px;
        width: 100%;
        padding: 30px;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius);
            padding: 1px;
            background: linear-gradient(180deg, #242424 0%, #666666 100%);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            z-index: -1;
        }

        h2 {
            font-size: 14px;
            font-weight: 300;
            color: var(--secondary-color);
            padding-bottom: .8rem;
        }

        img {
            width: 83px;
            height: 45.79px;
        }

        label {
            font-size: 12px;
            font-weight: 300;
            color: var(--secondary-color);
        }

        .form-group {
            margin-bottom: .5rem;
        }

        input {
            background: var(--dark-bg);
            border: 1px solid var(--input-border);
            border-radius: 6px;
            font-size: 10px;
            font-weight: 300;
            color: var(--input-border);
            transition: all var(--transition-speed) ease;
            padding-top: 12px;
            padding-bottom: 12px;
            height: 100%;

            &:focus {
                background: #fff;
                border: 1px solid var(--input-focus);
                color: #141414;
                font-weight: 400;
                box-shadow: 0 0 0 1px var(--input-focus);
            }
        }

        .btn-primary {
            background-color: var(--primary-color);
            border-color: var(--primary-color);
            color: #141414;
            font-size: 14px;
            font-weight: 600;

            &:hover {
                background-color: var(--btn-hover-color);
                border-color: var(--btn-hover-color);
            }
        }
    }

}

#home {
    background: url('./../assets/images/background-verification.webp') no-repeat center center/cover;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background: rgba(0, 0, 0, 0.3);

        // border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        .status {
            // display: flex;
            align-items: center;
            font-size: 8px;
            font-weight: 300;
            text-align: left;
            color: var(--status-color);

            .status-adjust {
                align-items: center;
                justify-content: flex-start;
            }

            .status-active {
                font-size: 12px;
                color: #FFFFFF;
                font-weight: 400;
                // margin-left: 5px;
            }

            .status-indicator {
                width: 5px;
                height: 5px;
                background-color: var(--primary-color);
                border-radius: 50%;
                margin-left: 5px;
            }
        }

        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateX(-20%);

            img {
                width: 80px;
                /* Ajuste conforme necessário */
            }

            small {
                font-size: 10px;
                color: var(--secondary-color);
                margin-top: -5px;
            }
        }

        .logout button {
            background: transparent;
            border: none;

            img {
                filter: brightness(0.8);
                transition: filter 0.3s;

                &:hover {
                    filter: brightness(1);
                }
            }
        }
    }

    h1 {
        font-size: 16px;
        font-weight: 500;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 0;
    }

    h3 {
        font-size: 12px;
        font-weight: 400;
        color: var(--secondary-color);
        text-align: center;
    }


    .btn-group {

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            font-weight: 400;
            border: 1px solid var(--input-border);
            border-radius: 6px;
            padding: 8px 12px;
            transition: all var(--transition-speed);

            /* Ícones */
            .icon {
                width: 12px;
                height: 12px;
            }

            /* Botão Secundário (Preto com Bordas) */
            &.btn-secondary {
                background: var(--dark-bg);
                color: var(--secondary-color);

                &:hover {
                    background: lighten(#1F1F1F, 5%);
                    color: #fff;
                }
            }

            /* Botão Primário (Laranja) */
            &.btn-primary {
                background-color: var(--primary-color);
                color: #fff;
                border-color: var(--primary-color);

                &:hover {
                    background-color: var(--btn-hover-color);
                }
            }

            /* Espaçamento entre os botões */
            &+.btn {
                margin-left: 8px;
            }
        }
    }


    form {
        width: 100%;
        max-width: 400px;

        .form-group {
            margin-bottom: 8px;

            input {
                background: var(--dark-bg);
                border: 1px solid var(--input-border);
                border-radius: 6px;
                font-size: 10px;
                font-weight: 300;
                color: var(--input-border);
                padding: 10px;

                &:focus {
                    background: #fff;
                    border: 1px solid var(--input-focus);
                    color: #141414;
                }
            }
        }

        .btn-primary {
            background-color: var(--primary-color);
            border-color: var(--primary-color);
            color: #141414;
            font-size: 14px;
            font-weight: 600;

            &:hover {
                background-color: var(--btn-hover-color);
                border-color: var(--btn-hover-color);
            }
        }
    }

    .btn-link-atlas {
        display: flex;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        font-size: 12px;
        font-weight: 600;
        color: var(--primary-color);
        border-radius: calc(var(--border-radius)/2);
        border: 1px solid var(--primary-color);

        &:hover {
            color: var(--btn-hover-color);
        }
    }
}

#ativos {
    background: url('./../assets/images/background-verification.webp') no-repeat center center/cover;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background: rgba(0, 0, 0, 0.3);

        // border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        .status {
            // display: flex;
            align-items: center;
            font-size: 8px;
            font-weight: 300;
            text-align: left;
            color: var(--status-color);

            .status-adjust {
                align-items: center;
                justify-content: flex-start;
            }

            .status-active {
                font-size: 12px;
                color: #FFFFFF;
                font-weight: 400;
                // margin-left: 5px;
            }

            .status-indicator {
                width: 5px;
                height: 5px;
                background-color: var(--primary-color);
                border-radius: 50%;
                margin-left: 5px;
            }
        }

        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateX(-20%);

            img {
                width: 80px;
                /* Ajuste conforme necessário */
            }

            small {
                font-size: 10px;
                color: var(--secondary-color);
                margin-top: -5px;
            }
        }

        .logout button {
            background: transparent;
            border: none;

            img {
                filter: brightness(0.8);
                transition: filter 0.3s;

                &:hover {
                    filter: brightness(1);
                }
            }
        }
    }

    .ativos-card {
        position: relative;
        background: rgba(20, 20, 20, 0.8);
        border-radius: var(--border-radius);
        color: var(--secondary-color);
        max-width: 400px;
        width: 100%;
        padding: 30px;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius);
            padding: 1px;
            background: linear-gradient(180deg, #242424 0%, #666666 100%);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            z-index: -1;
        }

        .ativo-card {
            background: var(--dark-bg);
            // border: 1px solid var(--input-border);
            border-radius: 6px;
            font-size: 10px;
            font-weight: 400;
            color: var(--secondary-color);
            padding: 10px 12px;
            display: flex;
            align-items: center;
            justify-content: left;
            transition: background-color var(--transition-speed);

            &:hover {
                // background-color: lighten(var(--dark-bg), 5%);
            }

            .icon {
                width: 25px;
                height: 15px;

                &.cripto {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }

    .btn-link-atlas {
        display: flex;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        font-size: 12px;
        font-weight: 600;
        color: var(--primary-color);
        border-radius: calc(var(--border-radius)/2);
        border: 1px solid var(--primary-color);

        &:hover {
            color: var(--btn-hover-color);
        }
    }
}