/* Variáveis Globais */
:root {
    --primary-color: #EF7A26;
    /* Cor principal */
    --secondary-color: #D9D9D9;
    /* Cor secundária */
    --dark-bg: #1F1F1F;
    /* Fundo dos inputs */
    --input-border: #5F5F5F;
    /* Borda dos inputs */
    --input-focus: #EF7A26;
    /* Cor de foco dos inputs */
    --btn-hover-color: #e65f00;
    /* Cor do hover do botão */
    --font-main: 'SpaceGrotesk', sans-serif;
    /* Fonte principal */
    --border-radius: 12px;
    /* Bordas arredondadas padrão */
    --transition-speed: 0.3s;
    /* Velocidade padrão para transições */
}

/* Fontes */
@font-face {
    font-family: 'SpaceGrotesk';
    src: url('./../assets/fonts/SpaceGrotesk.ttf');
}

/* ===========================
   ESTILOS GLOBAIS
=========================== */
body {
    font-family: var(--font-main);
    min-height: 100vh;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.3);

    .status {
        align-items: center;
        font-size: 10px;
        font-weight: 300;
        text-align: left;
        color: #B9B9B9;

        .status-adjust {
            align-items: center;
            justify-content: flex-start;
        }

        .status-active {
            font-size: 14px;
            color: #FFFFFF;
            font-weight: 400;
        }

        .status-indicator {
            width: 5px;
            height: 5px;
            background-color: #EF7A26;
            border-radius: 50%;
            box-shadow: 0 0 8px rgba(239, 122, 38, 0.8);
            /* Sombra suave */
            animation: blink 1.5s infinite ease-in-out;
        }
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(-20%);

        img {
            width: 80px;
            /* Ajuste conforme necessário */
        }

        small {
            font-size: 10px;
            color: var(--secondary-color);
            margin-top: -5px;
        }
    }

    .logout button {
        background: transparent;
        border: none;


        img {
            width: 14px;
            height: 14px;
            transition: filter 0.3s ease, transform 0.3s ease;
            /* Transição suave */

            &:hover {
                filter: brightness(0) saturate(100%) invert(43%) sepia(96%) saturate(696%) hue-rotate(14deg) brightness(102%) contrast(101%);
            }
        }
    }
}

/* Animação de piscada */
@keyframes blink {

    0%,
    100% {
        opacity: 1;
        box-shadow: 0 0 8px rgba(239, 122, 38, 0.8);
    }

    50% {
        opacity: 0.3;
        box-shadow: 0 0 4px rgba(239, 122, 38, 0.5);
    }
}

.login-card,
.verification-card,
.ativos-card,
.bolt-ia-card,
.historico-card {
    position: relative;
    background: rgba(20, 20, 20, 0.8);
    /* Transparência */
    border-radius: var(--border-radius);
    /* Use fallback para navegadores mais antigos */
    color: var(--secondary-color);
    max-width: 400px;
    width: 100%;
    padding: 30px;
    z-index: 1;
    /* Compatibilidade extra para iOS */
    -webkit-backdrop-filter: blur(10px);
    /* Efeito de embaçamento */
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Para criar um efeito mais chamativo */
    -webkit-border-radius: var(--border-radius, 10px);
    /* Fallback */
    -webkit-transform: translateZ(0);
    /* Soluciona possíveis bugs de renderização */
    -webkit-overflow-scrolling: touch;

    /* Suporte a rolagem suave no iOS */
    /* Efeito de gradiente na borda */
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        padding: 1px;
        background: linear-gradient(180deg, #242424 0%, #666666 100%);

        /* Compatibilidade com máscara */
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);

        /* Ajuste para composições de máscara no Safari */
        -webkit-mask-composite: xor;
        mask-composite: exclude;

        z-index: -1;
    }
}

input:not([type="checkbox"]) {
    /* Estilos para todos os inputs, exceto checkbox */
    background: var(--dark-bg);
    border: 1px solid var(--input-border);
    border-radius: 7.79px;
    font-size: 14px;
    font-weight: 300;
    color: var(--input-border);
    transition: all var(--transition-speed) ease;
    min-height: 42px;

    &:focus {
        background: #fff;
        border: 1px solid var(--input-focus);
        color: #141414;
        font-weight: 400;
        box-shadow: 0 0 0 1px var(--input-focus);
    }
}

.btn.btn-primary.btn-block,
.btn-primary.btn-block {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #141414;
    font-size: 14px;
    font-weight: 600;
    min-height: 46px;

    &:hover {
        background-color: var(--btn-hover-color);
        border-color: var(--btn-hover-color);
    }
}

.btn-link-atlas {
    display: flex;
    position: fixed;
    bottom: 1rem;
    /* Espaço da parte inferior */
    right: 1rem;
    /* Espaço da lateral direita */
    font-size: 12px;
    font-weight: 500;
    color: var(--primary-color);
    background: var(--button-bg, transparent);
    /* Caso precise de fundo */
    border-radius: calc(var(--border-radius) / 2);
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    /* Adiciona espaçamento interno */
    z-index: 1000;
    /* Garante que estará acima de outros elementos */
    transition: all 0.3s ease;
    /* Transição suave para hover */

    &:hover {
        color: var(--btn-hover-color);
    }
}

/* ===========================
   ESTILOS ESPECÍFICOS DAS PÁGINAS
=========================== */
#login {
    background: url('./../assets/images/background-login.webp') no-repeat center center/cover;

    h2 {
        font-size: 24px;
        font-weight: 300;
        color: var(--secondary-color);
    }

    label {
        font-size: 14px;
        font-weight: 300;
        color: var(--secondary-color);
    }
}

#verificacao {
    background: url('./../assets/images/background-verification.webp') no-repeat center center/cover;

    h2 {
        font-size: 14px;
        font-weight: 300;
        color: var(--secondary-color);
        padding-bottom: .8rem;
    }

    img {
        width: 83px;
        height: 45.79px;
    }

    label {
        font-size: 12px;
        font-weight: 300;
        color: var(--secondary-color);
    }

    .form-group {
        margin-bottom: .5rem;
    }
}

#home {
    background: url('./../assets/images/background-verification.webp') no-repeat center center/cover;

    h1 {
        font-size: 16px;
        font-weight: 500;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 0;
    }

    h3 {
        font-size: 12px;
        font-weight: 400;
        color: var(--secondary-color);
        text-align: center;
    }

    .btn-group {

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            font-weight: 400;
            border: 1px solid var(--input-border);
            border-radius: 6px;
            padding: 8px 12px;
            transition: all var(--transition-speed);

            /* Ícones */
            .icon {
                width: 12px;
                height: 12px;
            }

            /* Botão Secundário (Preto com Bordas) */
            &.btn-secondary {
                background: var(--dark-bg);
                color: var(--secondary-color);

                &:hover {
                    background: lighten(#1F1F1F, 5%);
                    color: #fff;
                }
            }

            /* Botão Primário (Laranja) */
            &.btn-primary {
                background-color: var(--primary-color);
                color: #fff;
                border-color: var(--primary-color);

                &:hover {
                    background-color: var(--btn-hover-color);
                }
            }

            /* Espaçamento entre os botões */
            &+.btn {
                margin-left: 8px;
            }
        }
    }

    form {
        width: 100%;
        max-width: 400px;

        .form-group {
            margin-bottom: 8px;
        }

    }


}

#ativos {
    background: url('./../assets/images/background-verification.webp') no-repeat center center/cover;

    .ativo-card {
        background: var(--dark-bg);
        // border: 1px solid var(--input-border);
        border-radius: 6px;
        font-size: 12px;
        font-weight: 400;
        color: var(--secondary-color);
        padding: 10px 12px;
        display: flex;
        align-items: center;
        justify-content: left;
        transition: background-color var(--transition-speed);

        .icon {
            width: 30px;
            height: 20px;

            &.cripto {
                width: 20px;
                height: 20px;
            }
        }
    }
}

#entrada {
    background: #000000;

    h2 {
        font-size: 14px;
        font-weight: 400;
        color: #B9B9B9;
        text-align: center;
        margin-bottom: 20px;
    }

    .gif-animado {
        width: 100%;
        max-width: 372px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .btn-group {

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 400;
            border: 1px solid var(--input-border);
            border-radius: 6px;
            padding: 8px 12px;
            transition: all var(--transition-speed);
            backdrop-filter: blur(4px);


            /* Ícones */
            .icon {
                width: 18px;
                height: 18px;

                &.icon-bolt {
                    width: 10px;
                    height: 20.56px;
                }
            }



            /* Botão Secundário (Preto com Bordas) */
            &.btn-secondary {
                background: #141414;
                color: #FFFFFF;
                border: 1px solid #FFFFFF;


                // &:hover {
                //     background: lighten(#1F1F1F, 5%);
                //     color: #fff;
                // }
            }

            /* Botão Primário (Laranja) */
            &.btn-primary {
                background-color: #FFFFFF;
                color: #141414;
            }

            &.btn-desactive {
                border: solid 1px #1F1F1F;
                color: #5F5F5F;
                background: #141414;
            }

            /* Espaçamento entre os botões */
            &+.btn {
                margin-left: 8px;
            }
        }
    }

    form {
        .form-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #1F1F1F;
            // border: 1px solid var(--input-border);
            border-radius: 6px;
            padding: 8px 12px;
            margin-bottom: 7px;
            min-height: 42px;

            label {
                font-size: 14px;
                font-weight: 400 !important;
                color: #B9B9B9;
                margin-bottom: 0;
            }

            .value {
                font-size: 14px;
                font-weight: 300 !important;
                color: #FFFFFF;
            }

            button.btn-link {
                font-size: 12px;
                font-weight: 600;
                color: var(--secondary-color);
                text-decoration: none;
                display: flex;
                align-items: center;

                img {
                    margin-left: 4px;
                    transition: transform 0.3s;
                }

                &:hover {
                    img {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .btn-realizar {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #B9B9B9;
            border: none;
            border-radius: 6px;
            overflow: hidden;
            position: relative;
            padding: 0;
            height: 42px;
            /* Ajuste conforme necessário */
            width: 100%;

            &:hover {
                background: lighten(#B9B9B9, 5%);
            }

            &.loading,
            &:disabled {
                cursor: not-allowed; // Desativa o clique
                background: #B9B9B9; // Cor cinza enquanto carregando
                opacity: 1 !important;
            }

            .btn-left {
                background-color: var(--primary-color);
                width: 0%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }

            .btn-text {
                font-size: 14px;
                font-weight: 600;
                color: #141414;
                z-index: 1;
                /* Garante que o texto fique acima */
                position: relative;
            }
        }

    }

    .list-win {
        overflow: hidden; // Esconde itens fora do contêiner
        max-height: 80px; // Altura visível da lista
        position: relative;

        p {
            font-size: 10px;
            font-weight: 300;
            color: #B9B9B9;
            margin-bottom: 0px;
            transform: translateY(100%); // Posicionado fora da área visível
            opacity: 0; // Começa invisível
            transition: opacity 1s ease, transform 1s ease; // Suaviza o movimento

            span {
                color: var(--primary-color);
            }
        }

        &.animating p {
            opacity: 1; // Faz os itens aparecerem
            transform: translateY(0); // Move para a posição original
        }

        &.scrolling p {
            animation: scroll-up 10s linear infinite; // Faz os itens subirem continuamente
        }
    }

    @keyframes scroll-up {
        0% {
            transform: translateY(0); // Posição inicial
        }

        100% {
            transform: translateY(-100%); // Move os itens completamente para cima
        }
    }

}

#bolt-ia {
    background: url('./../assets/images/background-verification.webp') no-repeat center center/cover;

    h2 {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
    }

    p {
        font-size: 12px;
        font-weight: 400;
        color: #B9B9B9;

        b {
            color: #FFFFFF;
        }

        &.text-primary {
            color: #FFFFFF !important;

            .highlight {
                font-weight: 400;
                color: var(--primary-color);
            }
        }
    }

    .benefits {
        display: flex;
        justify-content: space-between;


        .benefit-item {
            background: var(--dark-bg);
            border: 1px solid var(--input-border);
            border-radius: 6px;
            padding: 5px 0;
            font-size: 10px;
            font-weight: 400;
            color: var(--secondary-color);
            text-align: left;
            flex: 1;
            /* Ajusta largura igual para todos os itens */
            margin: 0 5px;
            display: inline-flex;
            align-items: center;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            .icon {
                width: 12px;
                height: 12px;
            }

            p {
                margin: 0;
                font-size: 10px;
                font-weight: 400;
                line-height: 10px;

                strong {
                    font-weight: 600;
                    color: var(--primary-color);
                }
            }
        }
    }
}

#historico {
    background: url('./../assets/images/background-verification.webp') no-repeat center center/cover;

    h2 {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
    }

    p {
        font-size: 12px;
        font-weight: 400;
        color: var(--secondary-color);
    }

    .historico-list {
        .historico-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid var(--input-border);
            padding: 10px 0;

            &:last-child {
                border-bottom: none;
            }

            .time {
                font-size: 10px;
                font-weight: 400;
                color: var(--secondary-color);

                small {
                    display: block;
                    font-size: 8px;
                    color: var(--input-border);
                }
            }

            .moeda {
                display: flex;
                align-items: center;

                .icon {
                    width: 14px;
                    height: 14px;
                }

                span {
                    font-size: 12px;
                    font-weight: 600;
                    color: var(--secondary-color);
                }
            }

            .resultado {
                font-size: 12px;
                font-weight: 600;

                &.text-success {
                    color: var(--success-color);
                }

                &.text-danger {
                    color: var(--danger-color);
                }
            }
        }
    }

    .moeda-assertiva {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--dark-bg);
        border: 1px solid var(--input-border);
        border-radius: 6px;
        padding: 10px;
        font-size: 10px;
        font-weight: 400;
        color: var(--secondary-color);

        .icon {
            width: 14px;
            height: 14px;
        }

        .text-success {
            font-size: 12px;
            font-weight: 600;
            color: var(--success-color);
        }
    }

    .btn-abrir-atlas {
        font-size: 14px;
        font-weight: 600;
        color: var(--primary-color);

        &:hover {
            color: var(--btn-hover-color);
        }
    }
}