@charset "UTF-8";
/* Variáveis Globais */
:root {
  --primary-color: #EF7A26;
  /* Cor principal */
  --secondary-color: #D9D9D9;
  /* Cor secundária */
  --dark-bg: #1F1F1F;
  /* Fundo dos inputs */
  --input-border: #5F5F5F;
  /* Borda dos inputs */
  --input-focus: #EF7A26;
  /* Cor de foco dos inputs */
  --btn-hover-color: #e65f00;
  /* Cor do hover do botão */
  --font-main: "SpaceGrotesk", sans-serif;
  /* Fonte principal */
  --border-radius: 12px;
  /* Bordas arredondadas padrão */
  --transition-speed: 0.3s;
  /* Velocidade padrão para transições */
}

/* Fontes */
@font-face {
  font-family: "SpaceGrotesk";
  src: url("./../assets/fonts/SpaceGrotesk.ttf");
}
/* Estilos Globais */
body {
  font-family: var(--font-main);
  min-height: 100vh;
  height: 100%;
}

/* Estilos da Tela de Login */
#login {
  background: url("./../assets/images/background-login.webp") no-repeat center center/cover;
}
#login .login-card {
  position: relative;
  background: rgba(20, 20, 20, 0.8);
  border-radius: var(--border-radius);
  color: var(--secondary-color);
  max-width: 400px;
  width: 100%;
  padding: 30px;
  z-index: 1;
}
#login .login-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  padding: 1px;
  background: linear-gradient(180deg, #242424 0%, #666666 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
#login .login-card h2 {
  font-size: 20px;
  font-weight: 300;
  color: var(--secondary-color);
}
#login .login-card img {
  width: 83px;
  height: 45.79px;
}
#login .login-card label {
  font-size: 12px;
  font-weight: 300;
  color: var(--secondary-color);
}
#login .login-card input {
  background: var(--dark-bg);
  border: 1px solid var(--input-border);
  border-radius: 6px;
  font-size: 10px;
  font-weight: 300;
  color: var(--input-border);
  transition: all var(--transition-speed) ease;
}
#login .login-card input:focus {
  background: #fff;
  border: 1px solid var(--input-focus);
  color: #141414;
  font-weight: 400;
  box-shadow: 0 0 0 1px var(--input-focus);
}
#login .login-card .btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #141414;
  font-size: 14px;
  font-weight: 600;
}
#login .login-card .btn-primary:hover {
  background-color: var(--btn-hover-color);
  border-color: var(--btn-hover-color);
}

#verificacao {
  background: url("./../assets/images/background-verification.webp") no-repeat center center/cover;
}
#verificacao header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.3);
}
#verificacao header .status {
  align-items: center;
  font-size: 8px;
  font-weight: 300;
  text-align: left;
  color: var(--status-color);
}
#verificacao header .status .status-adjust {
  align-items: center;
  justify-content: flex-start;
}
#verificacao header .status .status-active {
  font-size: 12px;
  color: #FFFFFF;
  font-weight: 400;
}
#verificacao header .status .status-indicator {
  width: 5px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-left: 5px;
}
#verificacao header .logo {
  display: flex;
  transform: translateX(-20%);
  flex-direction: column;
  align-items: center;
}
#verificacao header .logo img {
  width: 80px;
  /* Ajuste conforme necessário */
}
#verificacao header .logo small {
  font-size: 10px;
  color: var(--secondary-color);
  margin-top: -5px;
}
#verificacao header .logout button {
  background: transparent;
  border: none;
}
#verificacao header .logout button img {
  filter: brightness(0.8);
  transition: filter 0.3s;
}
#verificacao header .logout button img:hover {
  filter: brightness(1);
}
#verificacao .verification-card {
  position: relative;
  background: rgba(20, 20, 20, 0.8);
  border-radius: var(--border-radius);
  color: var(--secondary-color);
  max-width: 400px;
  width: 100%;
  padding: 30px;
  z-index: 1;
}
#verificacao .verification-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  padding: 1px;
  background: linear-gradient(180deg, #242424 0%, #666666 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
#verificacao .verification-card h2 {
  font-size: 14px;
  font-weight: 300;
  color: var(--secondary-color);
  padding-bottom: 0.8rem;
}
#verificacao .verification-card img {
  width: 83px;
  height: 45.79px;
}
#verificacao .verification-card label {
  font-size: 12px;
  font-weight: 300;
  color: var(--secondary-color);
}
#verificacao .verification-card .form-group {
  margin-bottom: 0.5rem;
}
#verificacao .verification-card input {
  background: var(--dark-bg);
  border: 1px solid var(--input-border);
  border-radius: 6px;
  font-size: 10px;
  font-weight: 300;
  color: var(--input-border);
  transition: all var(--transition-speed) ease;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 100%;
}
#verificacao .verification-card input:focus {
  background: #fff;
  border: 1px solid var(--input-focus);
  color: #141414;
  font-weight: 400;
  box-shadow: 0 0 0 1px var(--input-focus);
}
#verificacao .verification-card .btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #141414;
  font-size: 14px;
  font-weight: 600;
}
#verificacao .verification-card .btn-primary:hover {
  background-color: var(--btn-hover-color);
  border-color: var(--btn-hover-color);
}

#home {
  background: url("./../assets/images/background-verification.webp") no-repeat center center/cover;
}
#home header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.3);
}
#home header .status {
  align-items: center;
  font-size: 8px;
  font-weight: 300;
  text-align: left;
  color: var(--status-color);
}
#home header .status .status-adjust {
  align-items: center;
  justify-content: flex-start;
}
#home header .status .status-active {
  font-size: 12px;
  color: #FFFFFF;
  font-weight: 400;
}
#home header .status .status-indicator {
  width: 5px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-left: 5px;
}
#home header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-20%);
}
#home header .logo img {
  width: 80px;
  /* Ajuste conforme necessário */
}
#home header .logo small {
  font-size: 10px;
  color: var(--secondary-color);
  margin-top: -5px;
}
#home header .logout button {
  background: transparent;
  border: none;
}
#home header .logout button img {
  filter: brightness(0.8);
  transition: filter 0.3s;
}
#home header .logout button img:hover {
  filter: brightness(1);
}
#home h1 {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 0;
}
#home h3 {
  font-size: 12px;
  font-weight: 400;
  color: var(--secondary-color);
  text-align: center;
}
#home .btn-group .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 400;
  border: 1px solid var(--input-border);
  border-radius: 6px;
  padding: 8px 12px;
  transition: all var(--transition-speed);
  /* Ícones */
  /* Botão Secundário (Preto com Bordas) */
  /* Botão Primário (Laranja) */
  /* Espaçamento entre os botões */
}
#home .btn-group .btn .icon {
  width: 12px;
  height: 12px;
}
#home .btn-group .btn.btn-secondary {
  background: var(--dark-bg);
  color: var(--secondary-color);
}
#home .btn-group .btn.btn-secondary:hover {
  background: #2c2c2c;
  color: #fff;
}
#home .btn-group .btn.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}
#home .btn-group .btn.btn-primary:hover {
  background-color: var(--btn-hover-color);
}
#home .btn-group .btn + .btn {
  margin-left: 8px;
}
#home form {
  width: 100%;
  max-width: 400px;
}
#home form .form-group {
  margin-bottom: 8px;
}
#home form .form-group input {
  background: var(--dark-bg);
  border: 1px solid var(--input-border);
  border-radius: 6px;
  font-size: 10px;
  font-weight: 300;
  color: var(--input-border);
  padding: 10px;
}
#home form .form-group input:focus {
  background: #fff;
  border: 1px solid var(--input-focus);
  color: #141414;
}
#home form .btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #141414;
  font-size: 14px;
  font-weight: 600;
}
#home form .btn-primary:hover {
  background-color: var(--btn-hover-color);
  border-color: var(--btn-hover-color);
}
#home .btn-link-atlas {
  display: flex;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 12px;
  font-weight: 600;
  color: var(--primary-color);
  border-radius: calc(var(--border-radius) / 2);
  border: 1px solid var(--primary-color);
}
#home .btn-link-atlas:hover {
  color: var(--btn-hover-color);
}

/*# sourceMappingURL=styles.css.map */
